---
const list1Links = [
    {
        href: '#',
        text: 'Home'
    },
    {
        href: '#',
        text: 'Pricing'
    },
    {
        href: '#',
        text: 'Products'
    },
    {
        href: '#',
        text: 'About Us'
    }
]
---

<ul class="list-1">
    
    {list1Links.map(link => (
        <li><a href={link.href}>{link.text}</a></li>
    ))}
</ul>

<style>
    li {
        margin: .75rem 0;
        font-size: .9rem;
    }

    @media (min-width: 1440px) {
        li {
            font-size: 1.25rem;
        }
    }
</style>