---
const socLinks = [
    {
        href: '#',
        icon: '/assets/icons/icon-facebook.svg'
    },
    {
        href: '#',
        icon: '/assets/icons/icon-youtube.svg'
    },
    {
        href: '#',
        icon: '/assets/icons/icon-twitter.svg'
    },
    {
        href: '#',
        icon: '/assets/icons/icon-pinterest.svg'
    },
    {
        href: '#',
        icon: '/assets/icons/icon-instagram.svg'
    }
]
---

<ul class="soc-links">
    {socLinks.map(link => (
        <li class="link">
            <a href={link.href}>
                <img src={link.icon} alt="Social media icon">
            </a>
        </li>
    ))}
</ul>

<style>
    .soc-links {
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;
    }

    .link a img{
        width: 2rem;
    }
</style>