@import './reset.css';

:root {
    /* Colors */
    /* Primary */
    --Bright-Red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);
    /* Neutral */
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Custom scroll bars style */
/* width */
::-webkit-scrollbar {
    width: 6px;
    background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--Bright-Red); 
}