---
import BaseLayout from "../layouts/BaseLayout.astro";

import Navbar from '../components/Navbar.astro';
import Community from '../components/Community.astro';
---

<BaseLayout title="Out Community">
    <div class="didnt-plan-properly">
        <Navbar />
    </div>

    <div class="info">
        <h1>Our Amazing Community</h1>
        <p>Consists of Web Developer enthusiasts and Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse ipsum.</p>
    </div>

    <Community /> 
</BaseLayout>

<style>
    .didnt-plan-properly {
        padding: 1rem;
    }

    .info {
        padding: 3rem 1rem;
        text-align: center;

        & h1 {
            color: var(--Dark-Blue);
            margin-bottom: 2rem;
        }

        & p {
            font-size: 1rem;
        }
    }

    @media (min-width: 768px) {
        .didnt-plan-properly {
            padding: 1rem 10% 1rem;
        }
    }

    @media (min-width: 1440px) {
        .info {
            padding: 5rem 20% 1rem;

            & p {
                font-size: 1.3rem;
            }
        }
    }
</style>