---
import BaseLayout from "../layouts/BaseLayout.astro";

import Header from "../components/Header.astro";
import About from '../components/About.astro';
// import Community from '../components/Community.astro';
import Testimonial from '../components/Testimonial.astro';
import GetStarted from '../components/GetStarted.astro';
---

<BaseLayout>
    <Header />

    <main>
        <About />
        <!-- <Community /> -->
        <Testimonial />
        <GetStarted />
    </main>
</BaseLayout>