---
import Card from './about-elems/Card.astro';
---

<section id="about" class="about">
    <div class="text">
        <h2> What’s different about Manage?</h2>
        <p>Manage provides all the functionality your team needs, without the complexity. Our software is tailor-made for modern digital product teams. </p>
    </div>
    <div class="boxes">
        <Card />
        <!-- <div class="card">
            <h3><span>01</span>Track company-wide progress</h3>
            <p>See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.</p>
        </div> -->
    </div>
</section>

<style>
    .about {
        margin: 1rem auto;
    }

    .text {
        text-align: center;
        padding: 1rem 2rem;

        & h2 {
            font-size: 1.8rem;
            font-weight: 700;
        }

        & p {
            font-size: .85rem;
            padding: 1rem 0;
            line-height: 2;
            color: var(--Dark-Grayish-Blue);
        }
    }

    .boxes {
        padding-left: .75rem !important;

        /* .card {
            margin-top: 3rem; */
/* 
            & h3 {
                font-size: 1rem;
                line-height: 2.2;
                background-color: var(--Very-Pale-Red);
                border: 5rem 0 0 5rem;
            }

            & p {
                font-size: .9rem;
                color: var(--Dark-Grayish-Blue);
                padding: 1rem .5rem 1rem 0;
            }
        } */

    }

    /* .card span {
        padding: .75rem 1.6rem;
        background-color: var(--Bright-Red);
        color: var(--Very-Light-Gray);
        border-radius: 10rem;
        font-size: .9rem;
        font-weight: 700;
        margin-right: 1rem;
    } */

    @media (min-width: 768px) {
        .about {
            width: 70%;
        }
    }

    @media (min-width: 1440px) {
        .about {
            width: 100%;
            margin: 0;
            padding: 5rem 10%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5rem;
        }
        
        .text {
            text-align: left;
            padding: 0;

            & h2 {
                font-size: 3.25rem;
                line-height: 1.1;
            }

            & p {
                width: 33ch;
                font-size: 1.3rem;
                line-height: 1.5;
            }
        }
    }
        .boxes {
            padding-left: 0;
        }
</style>