---
import Card from './about-elems/Card.astro';
---

<section id="about" class="about">
    <div class="text">
        <h2> What’s different about Manage?</h2>
        <p>Manage provides all the functionality your team needs, without the complexity. Our software is tailor-made for modern digital product teams. </p>
    </div>
    <div class="boxes">
        <Card />
    </div>
</section>

<style>
    .about {
        margin: 1rem auto;
    }

    .text {
        text-align: center;
        padding: 1rem 2rem;

        & h2 {
            font-size: 1.8rem;
            font-weight: 700;
        }

        & p {
            font-size: .85rem;
            padding: 1rem 0;
            line-height: 2;
            color: var(--Dark-Grayish-Blue);
        }
    }

    .boxes {
        padding-left: .75rem !important;
    }

    @media (min-width: 768px) {
        .about {
            width: 70%;
        }
    }

    @media (min-width: 1440px) {
        .about {
            width: 100%;
            margin: 0;
            padding: 5rem 10%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5rem;
        }
        
        .text {
            text-align: left;
            padding: 0;

            & h2 {
                font-size: 3.25rem;
                line-height: 1.1;
            }

            & p {
                width: 33ch;
                font-size: 1.3rem;
                line-height: 1.5;
            }
        }
    }
        .boxes {
            padding-left: 0;
        }
</style>