---
import logoImg from '../../public/assets/graphics/logo.svg';

import List1 from './footer-elem/List1.astro';
import List2 from './footer-elem/List2.astro';
import SocLinks from './footer-elem/SocLinks.astro';
---

<footer>
    <form>
        <input type="text" placeholder="Update in your inbox">
        <button type="submit">GO</button>
    </form>

    <div class="links">
        <List1 />
        <List2 />
    </div>

    <SocLinks />

    <div class="logo">
        <img src={logoImg.src} alt="Logo">
    </div>

    <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
        Coded by <a href="https://github.com/SinisaVukmirovic" target="_blank">Sinisa Vukmirovic</a>.
    </div>
</footer>

<style>
    footer {
        padding: 2rem 1rem .5rem;
        background-color: var(--Very-Dark-Blue);
    }

    form {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: .25rem;
        padding: 1rem 0;

        & input {
            padding: .5rem 1rem;
            border-radius: 10rem;

            &::placeholder {
                font-size: .8rem;
            }
        }

        & button {
            border: none;
            background-color: var(--Bright-Red);
            border-radius: 10rem;
            font-size: .8rem;
            color: var(--Very-Light-Gray);
        }
    }

    .links {
        display: flex;
        justify-content: space-around;
        padding: 2rem 0;
        color: var(--Dark-Grayish-Blue);
        font-weight: 400;
        font-size: 1rem;
    }

    .soc-links {
        display: flex;
    }

    .logo {
        margin: 2rem auto;
        display: flex;
        justify-content: center;
    
        & img {
            filter: invert(1);
        }
    }

    .attribution {
        color: var(--Dark-Grayish-Blue);
        text-align: center;
        padding: 1rem 0 .5rem;
        font-size: .7rem;

        & a {
            color: var(--Bright-Red);
        }
    }

    
    @media (min-width: 768px) {
        footer {
            padding: 3rem 20%;
        }
    }

    @media (min-width: 1440px) {
        footer {
            padding: 3rem 10%;
            display: grid;
            grid-template-columns: 1fr 3fr 2fr;
            grid-template-rows: 1fr 1fr;
            gap: 3rem;
        }

        .logo {
            grid-column: 1 / 2;
            grid-row: 1 / 2;

            & img {
                width: 12rem;
            }
        }

        .links {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
        }

        form {
            grid-column: 3 / 4;
            grid-row: 1 / 2; 
        }

        .attribution {
            grid-column: 3 / 4;
            grid-row: 2 / 3; 
            font-size: .9rem;
        }
    }
</style>