<section id="get-started">
    <h2>Simplify how your team works today.</h2>
    <div>
        <button class="cta-btn">Get Started</button>
    </div>
</section>

<style>
    section {
        text-align: center;
        background-color: var(--Bright-Red);
        padding: 5rem 1rem 3rem;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 500;
        color: var(--Very-Light-Gray);
        line-height: 1.3;
    }

    .cta-btn {
        padding: .75rem 1.5rem;
        margin: 1.75rem auto;
        display: block;
        background-color: var(--Very-Light-Gray);
        color: var(--Bright-Red);
        font-size: .8rem;
        font-weight: 700;
        border-radius: 10rem;
        border: none;
        outline: none;
    }

    @media (min-width: 1440px) {
        section {
            text-align: unset;
            padding: 5rem 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h2 {
            font-size: 3rem;
            width: 20ch;
        }

        .cta-btn {
            padding: 1rem 2rem !important;
            margin: 0;
            font-size: 1rem;
        }
    }
</style>