---
import Navbar from './Navbar.astro';
---

<header>
    <Navbar />

    <div class="hero">
        <div class="illustration">
            <img src="/assets/graphics/illustration-intro.svg" alt="Graphic illustration">
        </div>
        <div class="content">
            <h1>Bring everyone together to build better products.</h1>
            <p>Manage makes it simple for software teams to plan day-to-day tasks while keeping the larger team goals in view.</p>
            <button class="cta-btn">Get Started</button>
        </div>
    </div>

</header>

<style>
    header {
        min-height: 100vh;
        padding: 3rem 1rem;
    }

    .illustration {
        margin: 2rem 0 1rem;

        & img {
            margin: 0 auto;
        }
    }

    .content {
        padding: 0 .5rem;
        text-align: center;

        & h1 {
            font-size: 2.4rem;
            line-height: 1.25;
            color: var(--Dark-Blue);
            margin-bottom: .5rem;
        }

        & p {
            color: var(--Dark-Grayish-Blue);
            line-height: 1.7;
            font-weight: 400;
        }

        .cta-btn {
            padding: .75rem 1.5rem;
            margin: 1.75rem auto;
            display: block;
            background-color: var(--Bright-Red);
            color: var(--Very-Light-Gray);
            font-size: .8rem;
            font-weight: 700;
            border-radius: 10rem;
            border: none;
            outline: none;
            filter: drop-shadow(0 1rem .15rem var(--Very-Pale-Red));
        }
    }

    @media (min-width: 768px) {
        header {
            padding: 5rem 10%;
        }
    }

    @media (min-width: 1440px) {
        .hero {
            margin-top: 4rem;
            display: grid;
            grid-template-columns: 5fr 7fr;
            gap: 2rem;
            align-items: center;

            .illustration {
                order: 2;

                & img {
                    /* width: 100%; */
                    width: 45rem;
                }
            }

            .content {
                text-align: left;
                padding: 5rem 0;
            }

            & h1 {
                font-size: 4.5rem !important;
                line-height: 1.1 !important;
                color: var(--Dark-Blue);
            }

            & p {
                width: 33ch;
                font-size: 1.35rem;
                padding: 3rem 0;
            }

            .cta-btn {
                padding: 1rem 2rem;
                margin: 0;
                font-size: 1rem;
                filter: drop-shadow(0 .3rem .15rem var(--Dark-Grayish-Blue));
            }
        }
    }
</style>