---
// this got changed in last Astro update?
import logoImg from '../../public/assets/graphics/logo.svg';

import NavLinks from './navbar-elems/NavLinks.astro';
---

<nav>
    <div class="logo">
        <a href="#">
            <!-- ? src = logoImg.src ? -->
            <img src={logoImg.src} alt="Logo">
        </a>
    </div>

    <NavLinks />

    <div class="cta-btn">
        <a href="#">Get Started</a>
    </div>
</nav>

<style>
    nav {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 7rem;
    }

    .cta-btn {
        display: none;
    }

    @media (min-width: 1440px) {
        .logo {
            width: 12rem;

            & img {
                width: 100%;
            }
        }

        .cta-btn {
            display: block;
            padding: 1rem 2rem;
            border-radius: 10rem;
            background-color: var(--Bright-Red);
            color: var(--Very-Light-Gray);
        }
    }
</style>