---
// this got changed in last Astro update?
import logoImg from '../../public/assets/graphics/logo.svg';
import hamburgerIcon from '../../public/assets/icons/icon-hamburger.svg';

import NavLinks from './navbar-elems/NavLinks.astro';
---

<nav>
    <div class="logo">
        <a href="/">
            <!-- ? src = logoImg.src ? -->
            <img src={logoImg.src} alt="Logo">
        </a>
    </div>

    <NavLinks />

    <div class="cta-btn">
        <a href="#get-started">Get Started</a>
    </div>

    <div class="menu-btn">
        <img src={hamburgerIcon.src} alt="Hamburger Menu Icon">
    </div>
</nav>

<style>
    nav {        
        padding: 3rem 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
    }

    .logo {
        width: 7rem;
    }

    .cta-btn {
        display: none;
    }

    .menu-btn {
        position: absolute;
        right: 1rem;
    }

    @media (min-width: 1440px) {
        .menu-btn {
            display: none;
        }

        .logo {
            width: 12rem;

            & img {
                width: 100%;
            }
        }

        .cta-btn {
            display: block;
            padding: 1rem 2rem;
            border-radius: 10rem;
            background-color: var(--Bright-Red);
            color: var(--Very-Light-Gray);
        }
    }
</style>

<script>
    import toggleMenu from '../modules/toggleMenu.js';

    const menuBtn = document.querySelector('.menu-btn');
    // let menuIcon = menuBtn.querySelector('img');
    // const navLinks = document.querySelector('.nav-links ul');
    // let menuOpen = false;

    menuBtn.addEventListener('click', toggleMenu);   
    
    // function toggleMenu() {
    //     if (menuOpen) {
    //         menuOpen = !menuOpen;
    //         menuIcon.src = '/assets/icons/icon-hamburger.svg';
    //     } else {
    //         menuOpen = !menuOpen;
    //         menuIcon.src = '/assets/icons/icon-close.svg';
    //     }
    //     navLinks.classList.toggle('show-nav-links');
    // };
</script>