---
const navLinks = [
    {
        text: 'Pricing',
        href: '/pricing'
    },
    {
        text: 'Product',
        href: '#product'
    },
    {
        text: 'About Us',
        href: '/about-us'
    },
    {
        text: 'Careers',
        href: '/careers'
    },
    {
        text: 'Community',
        href: '#community'
    },
]
---

<div class="nav-links">
    <ul>
        {navLinks.map(link => (
            <li>
                <a href={link.href}>{link.text}</a>    
            </li>
        ))}
    </ul>
</div>

<style>
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: 1rem; */
        font-weight: 700;
        position: absolute;
        top: 4rem;
        left: 50%;
        width: 95%;
        max-height: 0;
        transform:  translateX(-50%);
        background-color: var(--Very-Pale-Red);
        transition: all .5s ease-out;

        & li {
            padding: .75rem 1.5rem;
            opacity: 0;
            transition: opacity .2s linear .1s;
        }
    }

    .show-nav-links {
        max-height: 100rem;
        padding: 2rem 0;

        & li {
            opacity: 1;
        }
    }

    @media (min-width: 1440px) {
        .nav-links {
            display: block;
            /* padding: unset; */
        }

        ul {
            width: unset;
            display: flex;
            flex-direction: row;
            justify-content: center;
            /* gap: 2rem; */
            padding: 0;
            position: static;
            background-color: unset;
            top: unset;
            left: unset;
            transform: unset;

            & li {
                /* min-width: 7rem; */
            }
        }
    }
</style>